*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
}

.toggle_menu{
    position: fixed;
    padding: 15px 20px 15px 15px;
    color: white;
    cursor: pointer;
    z-index: 1000000000000;
    font-size: 50px;
    opacity: 0;
}

.sidebar_menu{
    position: fixed;
    width: 400px;
    height: 100vh;
    margin-left: 0;
    overflow: hidden;
    max-height: 100vh;
    background-color: rgba(17,17,17,0.9);
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
}

.fa-times{
    right: 10px;
    top: 10px;
    opacity: 0.7;
    cursor: pointer;
    position: absolute;
    color: white;
    font-size: 1.5em;
    transition: all 0.3s ease-in-out;       
}

.fa-times:hover{
    opacity: 1;
}

.navSmall {
    display: block;
    width: 100%;
    left: 0%;
    margin-left: 3%;
}

.navSmall a{
    color: white;
    font-family: 'Bungee', sans-serif;
    display: block; 
    margin: 15% 0px;
    font-size: 1.3em;
    padding-bottom: 12px;
    border-bottom: solid 1px;
    text-align: left;
    margin-right: 10%;
    outline: 0;
    transition: all 0.3s ease-in-out;
}

.menuImg img{
    width: 150%;
    margin-top: 10%;
}

.hide_menu{
    margin-left: -400px;
}

.opacity_one{
    opacity: 1;
    transition: all 0.5s ease-in-out;
    z-index: 1000000000000;
}

button{
    padding: 0;
    border: none;
    background: none;
    outline: 0;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none
}

@media only screen and (max-width: 650px) {
    .toggle_menu{
        font-size: 20px;
    }
}