*{
    margin: 0;
    padding 0;
}

.mainPage{
    overflow: hidden; /*Want main page to be a single screen and not scrollable*/
}

video {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}

.overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: .3;  
}

.mainLogo{
    position: absolute;
    top:10%;
    left:53%;
    transform: translate(-50%,-50%);
    width: 70%;
}

.center{
    position:relative;
    width: 60%;
    height: 20%;
    left:50%;
    transform: translate(-50%);
    background-color: rgba(33, 61, 160, 0.3);
    display: inline-block;
    margin: 1%;
    padding 2%;
    padding-bottom: 2%;
    padding-top: 2%;
    border-radius: 25%;
}

.nav{
    position: absolute;
    position: fixed;
    width: 70%;
    left:50%;
    transform: translate(-50%,-50%);
    bottom: 0%;
    max-height: 10%;
    min-width: 700px;

}

.navSmall{
    position: relative;
    display: inline-block;
    width: 13%;
    min-width: 100px;
    font-size: 22px;;
    text-align: center;
    max-height: 5px;
    left: 9%
    
}

.navSmall a{
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Bungee', cursive;
    text-align: center;
    text-shadow: 4px 4px 4px #000;
    line-height: 20px;
}

.navBarBg{
    position: fixed;
    z-index: -5;
    width: 100%;
    bottom: -50px;
    min-height: 140px;
    min-width: 750px;

}

.navBarBgTop{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: auto;
    overflow: hidden;
    bottom: -35px;
}

.textBlock1{
    color: whitesmoke;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;    
    padding: 2%;
}


.bg1{
    background-image: url(../assets/images/about/bg1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 140px;
    background-color: #003d65;
    height: 2048px;
}

.title{
    position: relative;
    width: 60%;
    height: 20%;
    left:50%;
    transform: translate(-50%);
    padding-bottom: 200px;
    padding-top: 200px;
}

.title h1{
    width: 100%;
    font-family: 'Bungee', cursive;
    font-size: 70px;
    text-shadow: 
        0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 18px 23px rgba(0,0,0,0.1);
    text-align: center;
}
.bg2
{
    background-image:url("../assets/images/mars2030Title.png");
    height:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    margin-bottom: 150px;
    background-color: #003d65;
}
.text-block2
{
    color:whitesmoke;
    text-align: center;
    font-family:monospace;
    font-size: 25px; 
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.center1
{
    position:relative;
    width: 60%;
    height: 20%;
    left:50%;
    transform: translate(-50%);
    display: inline-block;
}
.center2
{
    position:relative;
    width:60%;
    height:20%;
    left:50%;
    transform:translate(-50%);
    background-color:burlywood;
    color:black;
    display:inline-block;
}

.subtitle
{
    font-size: 35px;   
}

.subsubtitle
{
    font-size: 25px;
}

/*-----------About Page-----------*/

.aboutText{
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 1.7em;
    color: white;
    z-index: 5000;
}

.aboutText a{
    color: brown;
}

.aboutText a:hover{
    text-shadow: 1px 0px 20px #0099ff;
}

.aboutTitle{
    position: relative;
    width: 35%;
    height: 8%;
    left:50%;
    transform: translate(-50%);
    font-family: 'Bungee', cursive;
    padding-top: 3%;
    z-index: -5;
}

.aboutTitle h1{
    font-size: 3em;
    width: 100%;
    border-bottom: solid 3px;
    line-height: 100%;
    color: white;
    text-align: center;
}

.aboutSubTitle{
    position: relative;
    width: 55%;
    left:50%;
    transform: translate(-50%);
    font-family: 'Bungee', cursive;
    padding-top: 3%;
    z-index: -5;
}

.aboutSubTitle h1{
    font-size: 1.5em;
    width: 100%;
    border-bottom: solid 3px;
    line-height: 100%;
    color: white;
    text-align: center;
}

.spaceXHqTitleFix{
    font-size: 2em;
    width: 40%;
    margin-bottom: 1%
}

.aboutImg1 img{
    width: 100%;
    position: absolute;
    top: 0%;
    z-index: -100;
}

.aboutCenter{
    position:relative;
    width: 60%;
    height: auto;
    left:50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    padding: 3%;
    border: solid 3px;
    border-radius: 5%;
    border-color: rgba(0, 0, 0, 0);
    line-height: 1.5;
}

.muskImg img{
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 35%;
    margin-top: 1%;
}

.marT{
    margin-top: 38%;
}

.marT1{
    margin-top: 5%;
}

.marB{
    padding-bottom: 23%;
}

.spaceXHq img{
    width: 50%;
    height: auto;
    border-radius: 15%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}


.falcon9 img{
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 50%;
}

.rocketAdj{
    left: 40%;
    width: 25%;
    transform: translate(-50%,10%);
}

.aboutMarB{
    margin-bottom: 31%;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.aboutVideo{
    margin-bottom: 2%;
    margin-top: -6%;
    width: 50%;
}

.launchSequence img{
    width: 100%;
    border-radius: 5%;
}

.pageNav{
    text-align: center;
    position:relative;
    width: 24%;
    height: auto;
    left:50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
    transition: all 0.3s ease-in-out;
    padding-bottom: 1%;
}

.pageNav a{
    width: 50%;
    color: white;
    font-family: 'Open Sans', sans-serif; 
    transition: all 0.3s ease-in-out;
    font-size: 1.3em;
}

.pageNav nav a:hover{
    transition: all 0.3s ease-in-out;
    text-shadow: 4px 4px 4px #000;
    color: royalblue;
}

.pageNav h1{
    font-family: 'Bungee', cursive;
    color: white;
    font-size: 2.5em;
}

.fa-arrow-alt-circle-up{
    font-size: 25vmin;
}

/*-----------More Info-----------*/

.bgInfo{
    background-color: #000;
    background-image: url(../assets/images/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.infoContainer{
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0, 20, 33, 0.8);
    font-size: 24px;
    padding: 25px;
}

.infoTitle{
    position: relative;
    font-family: 'Bungee', cursive;
    text-align: center;
    border-bottom: solid 3px;
    line-height: 100%;
    color: white;
    width: 50%;
    left: 50%;
    transform: translate(-50%);
    margin-top: 2%;
}

.infoTop{
    position: relative;
    font-family: 'Bungee', cursive;
    margin: 0 auto;
    font-size: 2.5em;
    border-bottom: solid 3px;
    line-height: 100%;
    color: white;
    width: 50%;
}

.infoMarginTop{
    padding-top: 4%;
}

.infoTitleImg img{
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translate(-46%);
    margin-top: 2%
}

.parallax{
    background: transparent;
    padding: 5%;
    height: 30vmin;
    max-height: 30vmin;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center
}

.parallaxContentLogo{
    z-index: 2;
    position: relative;
    width: 100%;
    transform: translate(4%)
}

.pageNavInfo{
    text-align: center;
    position:relative;
    width: 50%;
    height: auto;
    left:50%;
    transform: translate(-50%);
    display: block;
    transition: all 0.3s ease-in-out;
    padding-bottom: 1%;
    margin-top: 4%;
}

.pageNavInfo a{
    width: 50%;
    color: white;
    font-family: 'Open Sans', sans-serif; 
    transition: all 0.3s ease-in-out;
    font-size: 1em;
}

.pageNavInfo nav a:hover{
    transition: all 0.3s ease-in-out;
    text-shadow: 4px 4px 4px #000;
    color: royalblue;
}

.pageNavInfo h1{
    font-family: 'Bungee', cursive;
    color: white;
    font-size: 1.5em;
}

.infoText{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    text-align: center;
}

#infoSec1 #infoSec2 #infoSec3{
    margin-top: 4%
}

.infoList{
    text-align: center;
    display:flex;
    margin-top: 5%;
}

.infoList img{
    width: 45%;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.infoList img:hover{
    transition: all 0.3s ease-in-out;
     transform: scale(1.3);
}

.infoList a{
    color: white;
    font-family: 'Bungee', cursive;
    font-size: 1em;
}

.infoContactCardContainer{
    display: flex;
    align-content: center;
    justify-content: center;
}

.infoContactCard{
    position: relative;
    width: 25%;
    height: auto;
    background-image: url(../assets/images/info/infoBg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: inline-block;
    padding: 3%;
    margin: 3% 1% 0%;
    border-radius: 7%
}

.infoContactCard ul{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.infoContactCard h1{
    color: white;
    font-family: 'Bungee', cursive;
    font-size: 4vmin;
    text-align: center;
    line-height: 100%;
    margin-bottom: 3%;
}

.infoContactCard h2{
    color: white;
    font-family: 'Bungee', cursive;
    font-size: 2vmin;
    text-align: center;
    border-bottom: solid 3px;
    line-height: 140%;
    margin-bottom: 2%;
}

.infoContactCard ul{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4vmin;
    text-align: center;
}

.infoContactCard img{
    position: relative;
    width: 90%;
    top: 0%;   
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%);
}

.infoForm{
    position: relative;
    margin-top: 5%;
    padding: 5%;
    width: 25%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

input[type=text], select {
    width: 100%;
    padding: 5%;
    display: inline-block;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 8%;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4vmin;
    background-color: white;
    color: black;
    border: none;
}

input[type=text]:focus {
    background-color: black;
    color: white;
    transition: all 0.3s ease-in-out;
}

input[type=email], select {
    width: 100%;
    padding: 5%;
    display: inline-block;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4vmin;
    border:none;
}

input[type=email]:focus {
    background-color: black;
    color: white;
    transition: all 0.3s ease-in-out;
}

label{
    color: white;
    text-align: center;
    font-family: 'Bungee', cursive;
    font-size: 2.5vmin;
    line-height: 100%;
}

input[type=submit] {
    width: 100%;
    background-color: #004675;
    color: white;
    padding: 5%;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Bungee', cursive;
    margin-top: 5%;
    font-size: 2.5vmin;
    transition: all 0.3s ease-in-out;
}

input[type=submit]:hover {
    background-color: #FFF;
    color: #000;
    transition: all 0.3s ease-in-out;
}

textarea{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4vmin;
}

.infoContactList li{
    font-family: 'Open Sans', sans-serif;
    font-size: 3vmin;
}

@media only screen and (max-width: 1070px) {
    .infoContactList li{
        font-size: 1.5vmin;
    }
}

/*-----------footer-----------*/

#footer{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 2%;
}

#footerIndex{
    position: absolute;
    bottom: 0;
    right: 0;
}

.fa-facebook-square{
    font-size: 4em; 
}

.fa-twitter-square{
    font-size: 4em;
}

.fa-youtube{
    font-size: 4em;
    
}

.footerLinks{
    margin-top: 1.5%;   
}

.footerLinks a{
    color: black;
}

.footerLinks a:hover{
    transition: all 0.3s ease-in-out;
    color: white;
}

.footerTitle h2{
    font-family: 'Bungee', cursive;
    font-size: 2.4em;    
}

/*Phone Screens*/
@media only screen and (max-width: 650px) {
    
}

/* Various CSS for team and upcoming*/
.teamMember {
    border-radius: 500%;
    height: 15%;
    width: 15%;
    display: inline-block;
}
/*
.teamMember img {
    border-radius: 500%;
    height: 5%;
    width: 5%;
    display: inline-block;
    position: relative;
}
*/
.bgTeam{
    background-image: url(../assets/images/Team/SpaceXTeamBG.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 140px;
    background-color: #003d65;
    height: 2048px;
}

.centerTeam a {
    color:whitesmoke;
    font-family: monospace;
}

.inNav {
    background-color: rgba(30, 40, 200, 0.5);
    text-align: center;
    width: 30%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 600px;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    font-size: 25px;
    display: inline-block;
    margin: 2%;
    padding: 2%;
    position: relative;
}

.inNav a {
    color: whitesmoke;
}

.centerTeam{
    position:relative;
    width: 60%;
    height: 20%;
    left:50%;
    transform: translate(-50%);
    background-color: rgba(30, 40, 200, 0.5);
    display: inline-block;
    margin: 2%;
    border-radius: 150px;
    overflow: hidden;
    padding: 2%;
}

.teamcardShow
{
    opacity: 1;
    position: relative;
    padding: 2%;
    transition: all 0.3s ease-in-out;
}

.teamcardHide
{
    opacity: 0;
    position: relative;
    padding: 150%;
    transition: all 0.3s ease-in-out;
}

.bgUP{
    background-image: url(../assets/images/Upcoming/UpBG.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 140px;
    background-color: #003d65;
    height: 2048px;
}

.NavUP
{
    position: relative;;
    width: 60%;
    height 20%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(30, 40, 200, 0.5);
    display: inline-block;
    margin: 1%;
    padding: 2%;
    border-radius: 10%;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    
}

.NavUP a {
    color: whitesmoke;
}

.NavUP table {
    text-align: left;
    
    border-collapse: collapse;
    margin: 0 auto;
    width: 50%;
    
}

.NavUP th {
    border-bottom: 2px solid black;
}

.NavUP td {
    border-bottom: 2px solid black;
}

.NavUP tr:hover {
    background-color: blue;
}

.titleUP {
    position: relative;
    width: 60%;
    height: 10%;
    left:50%;
    transform: translate(-50%);
    padding-bottom: 50px;
    padding-top: 150px;
}

.titleUP h1{
    width: 100%;
    font-family: 'Bungee', cursive;
    font-size: 70px;
    text-shadow: 
        0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 18px 23px rgba(0,0,0,0.1);
    text-align: center;
    color: whitesmoke;
}

.centerUP{
    position:relative;
    width: 60%;
    height: 20%;
    left:50%;
    transform: translate(-50%);
    background-color: rgba(30, 40, 200, 0.5);
    display: inline-block;
    margin: 1%;
    padding 2%;
    padding-bottom: 2%;
    padding-top: 2%;
    border-radius: 25%;
}

#F9-30W-6 {
    padding-bottom: 5%;
}

.centerUP a {
    color: whitesmoke;
}