.mySlides {
    display:none;
}
.bgimage {
    background-image:url("../pics/62826018-stars-wallpapers.jpg");
    background-size:100%;
    background-attachment: fixed;
}
.center3
{
    margin-top: 500px;
    text-align: center;
    color:white;
    font-size: 40px;
}
.background
{
    background-color:rgba(147,112,219,0.3);
    width:400px;
    font-family:cursive;
    font-weight:bold;
}
.heading
{
    text-align: center;
    color: white;
}
.text
{
    margin-top:200px;
    color:white;
    font-size:30px;
    text-align: center;
    LINE-HEIGHT:60px;
    display: inline-block;
    
    position:relative;
    
}

.background1
{
    
    font-family:cursive;
    position:relative;
    font-weight:bold;
    
}
.text1{
    margin-top:200px;
    color:white;
    font-size:30px;
    text-align: center;
    margin-left: 20px;
    LINE-HEIGHT:60px;
    position:absolute;
    display: inline-block;
    width:49%;
    position: absolute;
}
.heading1
{
    
    color:white;
    text-align:center;
    font-weight: bold;
    font-style: italic;
    font-size:60px;
}
.video1
{
    margin-top:150px;
 
}
.text3
{
    color:white;
    font-size: 40px;
    font-style: italic;
    text-align: center;
}
.tabletext a {
    color: whitesmoke;
}

.tabletext table {
    
    height: 500px;
    border: 2px solid white;
    width:100%;
    
    
}

.tabletext th {
    border-bottom: 2px solid white;
    font-size: 50px;
    
    
}

.tabletext td {
    border-bottom: 2px solid white;
    font-size:40px;
}

.tabletext
{
    margin-top:200px;
    background-color:rgba(147,112,219,0.3);
    
    color:white;
    display: inline-block;
}
.tabletext tr:hover {
    background-color: slategrey;
}
.premenu a
{
    color: white;
    font-size: 30px;
    
}
.premenu
{
    line-height: 60px;
   margin-top:300px;
    background-color:rgba(147,112,219,0.3);
    width:400px;
    
}