div.gallery {
   
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
.marsbackgroundimage
{
    background-image: url("../mars/bfr-payload.jpg");
    background-size:100%;
    background-attachment: fixed;
}
.marstext
{
    padding:30px 10px;
    color:black;
    text-align: center;
    margin-top:800px;
    font-weight:bold;
    font-style:italic;
    font-size: 30px;
}
.marsheading
{
    margin-top:100px;
    color:white;
    font-size:40px;
    text-align:center;
}
.marsbackground
{
    width:1000px;
    background-color:lightsteelblue;
}
.videobackground
{
    background-color:black;
}
.marstext1
{
    color:black;
    text-align: center;
   
    font-weight:bold;
   
    font-size: 30px;
}
.marsheading1
{
    
    margin-top:60px;
    background-color:white;
    width:400px;
    font-size:80px;
    text-align: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  
   
    position:absolute;
    
    
    
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;

  
    position:relative;
    
    
}

.column img {
  margin-top: 8px;
  vertical-align: left;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
.superheading
{
    padding-top: 30px;
    color: white;
    font-style: italic;
    font-size: 70px;
    font-family: fantasy;
}
.heading1
{
    
    color:white;
    background-color:black;
    width:500px;
}
.column1
{
    padding-left:100px;
    flex: 100%;
    max-width: 100%;
  
}
.padding
{
    padding: 0px 10px 50px 10px;
}